<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-home"></span> Home</button>

<i class="fa fa-home btn btn-default">
<%= link_to "Back to Articles List", articles_path %>
</i>

